.page-footer {
    background-color: $accent-black-color;
    padding: 60px 40px;

    &__footer-menu {
        text-align: center;
    }

    &__group {
        margin-bottom: 60px;
    }
}

//* Контакти у футері */
.info-list {
    &__item.list:not(:last-child) {
        margin-bottom: 8px;
    }

    &__link {
        color: rgb(255, 255, 255, 0.6);

        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.7;
        letter-spacing: 0.03em;
        text-decoration: none;

        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
            color: $primary-color;
        }

        &--white-text {
            color: $primary-text-color;
        }
    }

}

//* соцмережі у футері */

.social-links-group {
    display: inline-block;
    margin-bottom: 60px;

    &__title {
        margin-bottom: 20px;

        color: $accent-text-color;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.1;
        letter-spacing: 0.03em;
        text-transform: uppercase;
    }
}



@media screen and (min-width: 768px) {

    .page-footer {
        &__wrapper {
            display: flex;
            justify-content: space-between;
            margin-bottom: 60px;
        }
    }

    .social-links-group {
        margin-top: 5px;
        margin-bottom: 0px;
    }
}

@media screen and (min-width: 1170px) {

    .page-footer {

        &__footer-menu {
            display: flex;
            justify-content: space-between;
        }

        &__wrapper {
            display: flex;
            justify-content: space-around;
            margin-bottom: 0px;
        }

        &__group {
            margin-bottom: 0px;
            margin-right: 70px;
        }
    }

    .social-links-group {
        margin-top: 12px;
    }

}